<!doctype html>
<html>

<head>
    <title>Cat Clicker</title>
</head>

<body ng-app="catClicker">
    <div ng-controller="CatsController as catsCtrl">
        <div ng-repeat="cat in catsCtrl.cats track by $index">
            <p> {{cat.name}} </p>
            <img ng-src="{{cat.imgSrc}}" ng-click="catsCtrl.incrementClickCount(cat)" />
            <P>You clicked {{cat.clicks}} time(s)</p>
        </div>
    </div>

    <script type="text/javascript" src="./assets/js/vendor/angular.js"></script>
    <script type="text/javascript" src="./app.js"></script>
    <script type="text/javascript" src="./assets/js/controllers/catsController.js"></script>
</body>

</html>