<div ng-controller="CatsController as cc">
    <a ui-sref="addNewCat">Add New Cat</a>
    <div>
        Search: <input type="text" placeholder="Enter Name" ng-model="cc.searchText" focus>
        <button ng-click="cc.searchCats()"> Search </button>
    </div>

    <div>
        <label>Order By:</label>
        <select id="order-by" ng-model="cc.selectedOrder">
                    <option value="name">Ascending</option>
                    <option value="-name">Descending</option>
                </select>
    </div>

    <div class="cat">
        <ul>
            <li ng-repeat="cat in cc.cats | orderBy:cc.selectedOrder track by $index" ng-click="cc.selectCat(cat)">
                {{cat.name}}
                <span ng-show="cat.isVisited">&#10004;</span>
            </li>
        </ul>
    </div>
    <div class="selected-cat" ng-if="cc.selectedCat">
        <p>
            <strong>Name: </strong> {{cc.selectedCat.name}}
        </p>
        <img class="cat-image" ng-src="{{cc.selectedCat.imgUrl}}" ng-click="cc.incrementClickCount(cc.selectedCat)" />
        <P>You clicked {{cc.selectedCat.clicks}} time(s)</p>
        <input type="number" ng-model="cc.selectedCat.clicks" />
    </div>
</div>