<div class="form-group">
    <label for="name">Cat Name:</label>
    <input type="text" name="name" ng-model="acc.cat.name" required>
    <p ng-show="newCatForm.name.$touched && newCatForm.name.$error.required">Name is mandatory</p>
</div>
<div class="form-group">
    <label for="pwd">Cat URL:</label>
    <input type="text" name="url" ng-model="acc.cat.url" required validate-cat-url ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"  save-on-enter/>
    <div ng-show="newCatForm.url.$touched">
        <p ng-show="newCatForm.url.$error.required">URL is mandatory</p>
        <p ng-show="newCatForm.url.$error.invalidUrl">Please enter a valid URL</p>
    </div>
</div>
<div>
    <img ng-src="{{acc.cat.url}}" ng-if="acc.cat.url && !addNewCat.url.$error.invalidUrl" alt="Cat Pic Here" />
</div>
<button>Cancel</button>
<button type="submit" ng-disabled="addNewCat.$invalid" ng-click="acc.addCat(acc.cat)">Save</button>